* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-logo:  #00ffea;
    --color-back1: #252525;
    --color-back2: #585858;
}
  
  
body {
    background-color: #000000;
    color: #dfdfdf;
    height: 100vh;
}

main{
    width: 70%;
    background:linear-gradient(45deg, var(--color-back1),  var(--color-back2), var(--color-back1),  var(--color-back2));
}

.logo{
    color: var(--color-logo);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 15px;
}
  
.navbar .logo {
    font-size: 30px;
}
  
.links {
    list-style: none;
    display: flex;
    gap: 15px;
}
  
.links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}
  
.links a:hover {
    background-color: #555;
}
  
.main {
    padding: 20px;
    margin: auto;
}
  
.content-section h1 {
    font-size: 20px;
    margin-bottom: 20px;
}



#form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 20px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    border-radius: 8px;
    margin: 30px;
    padding: 20px;
}
  
#form label {
    margin: 10px 0 5px;
}
  
#form input {
    padding: 8px;
    font-size: 10px;
    background-color: #333; 
    color: #f1f1f1; 
    border: 1px solid #555; 
    border-radius: 4px; 
}

#form input::placeholder {
    color: #dcdcdc; 
}
  
#form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
#form button:hover {
    background-color: #555;
}

.movi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
  
.movie-card {
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    transition: transform 0.2s;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    color: #dfdfdf;
    border: 1px solid #555;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    width: 30%;
    margin-right: 10%;
}
  
.movie-card:hover {
    transform: scale(1.02);
}
  
.movie-card p {
    margin: 10px 0;
}
  
.movie-card strong {
    color: #c0c0c0;
    font-weight: bold;
}

img{
    width: 100px;
    height: auto;
}
  
  
@media (max-width: 768px) {
.movi {
    grid-template-columns: 1fr;
    }
}
  
  